*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blujeans{
    background-color: #2C3E50;
}

.nav-link{
    color: white!important;
}

.mx-10{
    margin-left: 96px;
    margin-right: 96px;
}

.ms_bg_green{
    background-color: #1ABC9C;
}

.ms_footer_top{
    background-color: #3A546D;
    color: white;
}

.ms_footer_bottom{
    background-color: #2C3E50;
    color: white; 
}

.rounded-10{
    border-radius: 10px;
}

.px50x50{
    height: 40px;
    width: 40px;
}